@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: Bebas Neue;
  background-color: #0d1117;
}

.teste {
  background-image: url('../assets/netflix-back-brush.jpg');
  background-size: cover;
  height: 100vh;
}
