@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  font-family: Bebas Neue;
  background-color: #141414;
}

.login-page {
  background-image: url('../assets/netflix-back-brush.jpg');
  background-size: cover;
  height: 100vh;
}

.changeBg, .p, .img {
  background-color: red;
  transition: all ease 0.5s;
}

.changeOpacity:hover .absolute {
  opacity: 1;
  transition: all ease 0.5s;
  user-select: none;
}

.transitionMovies {
  transition: all ease 1s;
}

