@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

body {
  font-family: Bree Serif;
  background-color: #191818;
}

.login-page {
  background-image: url('../assets/netflix-back-brush.jpg');
  background-size: cover;
  height: 100vh;
}

.changeBg, .p, .img {
  background-color: #141414;
  transition: all ease 0.2s;
}

.changeOpacity:hover .absolute {
  opacity: 1;
  transition: all ease 0.5s;
  user-select: none;
}

.transitionMovies {
  transition: all ease 1s;
}

.z-20:hover {
  transition: ease-in 0.2s;
}
